# --- Logi i Cache ---
*.log
.phpunit.result.cache
/.phpunit.cache
/bootstrap/cache/*.php
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*.php
/storage/framework/testing/*
/storage/pail

# --- Dane wrażliwe i konfiguracja (KLUCZOWE) ---
.env
.env.backup
.env.production
.env.local
.env.testing
/auth.json
/storage/*.key

# --- Zależności (pobierane przez Composer/NPM) ---
/vendor
/node_modules

# --- Buildy front-endowe ---
/public/build
/public/hot
/public/storage
/storage/app/public

# --- Ustawienia IDE i systemowe ---
.DS_Store
Thumbs.db
/.fleet
/.idea
/.nova
/.vscode
/.zed
*.sublime-project
*.sublime-workspace
.phpactor.json

# --- Narzędzia deweloperskie i serwerowe ---
Homestead.json
Homestead.yaml
.serverless/ 
